altgraph==0.17.2
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
charset-normalizer==2.0.7
Eel==0.12.4
fpdf2==2.4.5
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
Pillow==8.4.0
pyinstaller-hooks-contrib==2021.3
requests==2.26.0
soupsieve==2.2.1
urllib3==1.26.7
whichcraft==0.6.1
wikipedia==1.4.0
Wikipedia-API==0.5.4
zope.event==4.5.0
zope.interface==5.4.0
